[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
click = "*"
ruamel-yaml = "*"
dominate = "*"
docker = "*"

[dev-packages]

[requires]
python_version = "3.7"
